<!DOCTYPE html>
<html lang="en">
<head>
    <title>Retail Forecasting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    

<nav class="navbar">
    <div class="logo">Retail Forecasting and Inventory Management</div>
    <div class="nav-links">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('inventory') }}">Inventory</a>
        <a href="{{ url_for('simulator') }}">Simulator</a>
        <a href="{{ url_for('logout') }}" class="logout">Logout</a>
    </div>
</nav>

<main class="main-content">
    {% block content %}{% endblock %}
</main>
</body>
</html>
